{% extends 'layout.html' %}
{% block body %}
<!--  Section reading -->
<div class="row">
    <div class="col col-12">
        <div class="reader-header">
            <a href="book-reader--sidebar.html" class="reader-header__menu-icon btn btn--icon btn--checkbox">
                <i class="icon lnr lnr-menu"></i>
            </a>
            <h2 class="reader-header__title">
                <a href="./book-info.html">Филосовский филогенез</a>
            </h2>
        </div>
    </div>
</div>
<div class="row row--nowrap">
    <div class="col col-4 col--sidebar">
        <h2>Разделы</h2>
        {% include "./partitial/list--sections.html" %}
    </div>
    <div class="col col-12">
        {% include "./partitial/section-content.html" %}
    </div>
</div>
<div class="row">
    <div class="col col-8">
        <h2>Комментарии</h2>
        {% include "./partitial/comments-form--big.html" %}
        <br>
        {% include "./partitial/comments--reader.html" %}
    </div>
</div>

{% endblock %}