{% extends 'layout.html' %}
{% block body %}
<main class="main">
    <div class="row">
        <div class="col col-12">
            <h2>Новинки</h2>
            <div class="books">
                <a href="book-info.html#/book/1" class="books__item">
                    <img src="images/placeholder.png" alt="Book 1"/>
                    <div>Обьективное - невероятное</div>
                </a>
                <a href="book-info.html#/book/2" class="books__item">
                    <img src="images/placeholder.png" alt="Book 2"/>
                    <span>Давно забытая загадка инков</span>
                </a>
                <a href="book-info.html#/book/3" class="books__item">
                    <img src="images/placeholder.png" alt="Book 3"/>
                    <span>Кот и тапок гуся</span>
                </a>
                <a href="book-info.html#/book/3" class="books__item">
                    <img src="images/placeholder.png" alt="Book 3"/>
                    <span>Кот и тапок гуся</span>
                </a>
            </div>
            <h2>Лучшие книги месяца</h2>
            <div class="books">
                <a href="book-info.html#/book/1" class="books__item">
                    <img src="images/placeholder.png" alt="Book 1"/>
                    <div>Обьективное - невероятное</div>
                </a>
                <a href="book-info.html#/book/2" class="books__item">
                    <img src="images/placeholder.png" alt="Book 2"/>
                    <span>Давно забытая загадка инков</span>
                </a>
                <a href="book-info.html#/book/3" class="books__item">
                    <img src="images/placeholder.png" alt="Book 3"/>
                    <span>Кот и тапок гуся</span>
                </a>
                <a href="book-info.html#/book/3" class="books__item">
                    <img src="images/placeholder.png" alt="Book 3"/>
                    <span>Кот и тапок гуся</span>
                </a>
            </div>
        </div>
    </div>

</main>
{% endblock %}