{% extends 'layout.html' %}
{% block body %}
<!--  Section reading -->
<div class="row">
    <div class="col col-12">
        <div class="reader-header">
            <button class="reader-header__menu-icon btn btn--icon btn--checkbox">
                <i class="icon lnr lnr-menu"></i>
            </button>
            <h2 class="reader-header__title">
                <a href="./book-info.html">Филосовский филогенез</a>
            </h2>
        </div>
    </div>
</div>
<div class="row row--nowrap">
    <div class="col col-4 col--sidebar">
        <h2>Разделы</h2>
        {% include "./partitial/list--sections.html" %}
    </div>
    <div class="col col-12">
        {% include "./partitial/section-content.html" %}
        <div class="btns-group">
            <a href="comment-add.html" class="btn">Добавить комментарий</a>
        </div>
    </div>
</div>

{% endblock %}