{% extends 'layout.html' %}
{% block body %}
<!--  Book page-->
<main class="main">
    <div class="row">
        <!--<div class="col col-2"></div>-->
        <div class="col col-6">
            <div class="book">
                <div class="book__info">
                    <div class="book__poster">
                        <img src="images/placeholder.png" alt=""/>
                    </div>
                    <h1>Самонаблюдение, иcходя из того, что однократно.
                        <span class="badge">в процессе</span>
                    </h1>
                    <h3>Д.Майерс. 2015</h3>
                    <p>Предсознательное, например, отталкивает закон, следовательно основной закон психофизики: ощущение изменяется пропорционально логарифму раздражителя . Но так как книга Фридмана адресована руководителям и работникам образования, то есть идентификация начинает комплекс. </p>
                    <div class="btns-group">
                        <button class="btn">Читать</button>
                        <button class="btn btn_primary">Купить подписку</button>
                        <span>&nbsp;&nbsp;234 уже купили</span>
                    </div>
                </div>
                <h2>Содержание</h2>
                <div class="book__sections">
                    <ul class="sections">
                        <li>Трансцендентальный интеллект: основные моменты</li>
                        <li>Филосовский филогенез: основные моменты</li>
                        <li>Сенсибельный закон исключённого третьего: основные моменты</li>
                        <li>Сенсибельный конфликт в XXI веке</li>
                        <li class="is-progress">В работе (80%)</li>
                        <li class="is-progress">В работе (10%)</li>
                        <li>Проекция как ролевой бихевиоризм</li>
                    </ul>
                </div>
                <h3>Другие книги автора (<a href="#/author/1">Д.Майерс</a>)</h3>
                <div class="books">
                    <a href="#/book/1" class="books__item">
                        <img src="images/placeholder.png" alt="Book 1"/>
                        <div>Обьективное - невероятное</div>
                    </a>
                    <a href="#/book/2" class="books__item">
                        <img src="images/placeholder.png" alt="Book 2"/>
                        <span>Давно забытая загадка инков</span>
                    </a>
                    <a href="#/book/3" class="books__item">
                        <img src="images/placeholder.png" alt="Book 3"/>
                        <span>Кот и тапок гуся</span>
                    </a>
                </div>
                <h3>Читатели также выбирают</h3>
                <div class="books">
                    <a href="#/book/1" class="books__item">
                        <img src="images/placeholder.png" alt="Book 1"/>
                        <div>Спасение утопающую МУ-му</div>
                    </a>
                    <a href="#/book/2" class="books__item">
                        <img src="images/placeholder.png" alt="Book 2"/>
                        <span>Удивительная история девочки-оборотня</span>
                    </a>
                    <a href="#/book/3" class="books__item">
                        <img src="images/placeholder.png" alt="Book 3"/>
                        <span>Ласточка и лягушка</span>
                    </a>
                    <a href="#/book/3" class="books__item">
                        <img src="images/placeholder.png" alt="Book 3"/>
                        <span>Скатерь-самобранка в ресторане Решилье</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <h2>Комментарии (120)</h2>
            <div class="comments comments_book">
                <div class="comments-block comments__item">
                    <div class="comments-block__header">
                        <a href=""><img src="images/users/53.jpg" alt=""/></a>
                        <span class="comments-block__name">Виктория Иванова</span>
                    </div>
                    <div class="comments-block__text">
                        Придерживаясь жестких принципов социального Дарвинизма, роль отчуждает контраст. Конформность последовательно выбирает психоанализ.
                    </div>
                </div>
                <div class="comments-block comments__item">
                    <div class="comments-block__header">
                        <a href=""><img src="images/users/43.jpg" alt=""/></a>
                        <span class="comments-block__name">Сергей Николаев</span>
                    </div>
                    <div class="comments-block__text">
                        Последствия желаемого и действительного, поэтому лидерство дает закон. Проекция просветляет
                        импульс. Самонаблюдение, иcходя из того, что однократно. Наши исследования позволяют сделать вывод
                        о том, что аномия осознаёт комплекс
                    </div>
                </div>
                <div class="comments-block comments__item">
                    <div class="comments-block__header">
                        <a href=""><img src="images/users/20.jpg" alt=""/></a>
                        <span class="comments-block__name">Геннадий Фидельман</span>
                    </div>
                    <div class="comments-block__text">
                        Роль возможна. Коллективное бессознательное начинает позитивистский импульс. Филогенез сложен.
                    </div>
                </div>
                <div class="comments-block comments__item">
                    <div class="comments-block__header">
                        <a href="#/user/2"><img src="images/users/70.jpg" alt=""/></a>
                        <span class="comments-block__name">Сергей Иванов</span>
                    </div>
                    <div class="comments-block__text">
                        Проекция, как принято считать, вызывает ролевой бихевиоризм. Как отмечает Жан Пиаже, душа выбирает экспериментальный психоанализ. Чем больше люди узнают друг друга,
                    </div>
                </div>
            </div>
            <h2>Спасибо&nbsp;︎<span class="unicode">&star;</span></h2>
            <div class="thanks">
                <a href="#/user/2" class="thanks__item">Василий Иванов</a>,
                <a href="#/user/2" class="thanks__item">Сергей Николаев</a>,
                <a href="#/user/2" class="thanks__item">Геннадий Фидельман</a>,
                <a href="#/user/2" class="thanks__item">Елена Святлицкая</a>,
                <a href="#/user/2" class="thanks__item">Георгий Никольский</a>
            </div>
            <p><i>Автор отмечает лучшие комментарии статусом "Спасибо"</i></p>
        </div>
    </div>
</main>
{% endblock %}