{% extends 'layout.html' %}
{% block body %}
<!--  Book page-->

<div class="row">
    <!--<div class="col col-2"></div>-->
    <div class="col col-7">
        {% include "./partitial/book.html" %}
    </div>
    <div class="col col-5">
        <h2>Комментарии (120)</h2>
        {% include "./partitial/comments.html" %}
        <h2>Спасибо&nbsp;︎<span class="unicode">&star;</span></h2>
        {% include "./partitial/thanks.html" %}
        <p><i>Автор отмечает лучшие комментарии статусом "Спасибо"</i></p>
    </div>
</div>
{% endblock %}