{% extends 'layout.html' %}
{% block body %}
<!--  Section reading -->
<div class="row">
    <div class="col col-0 hide">
        <h2>Разделы</h2>
        {% include "./partitial/list--sections.html" %}
    </div>
    <div class="col col-12">
        <div class="reader">
            <div class="reader__header">
                <button class="reader__menu-icon btn btn--icon">
                    <i class="icon lnr lnr-menu"></i>
                </button>
                <h2 class="reader__title">
                    <a href="./book-info.html">Филосовский филогенез</a>
                </h2>
            </div>
            <div class="reader__content">
                {% include "./partitial/section-content.html" %}
            </div>
        </div>
        <div class="btns-group">
            <a href="comment-add.html" class="btn">Добавить комментарий</a>
        </div>
    </div>
</div>
{% endblock %}