{% extends 'layout.html' %}
{% block body %}
<!--  Section reading -->
<main class="main">
    <div class="row">
        <div class="col col-2">
            <!--<a href="#/project" class="link link-primary">Вернуться к описанию</a>-->
            <h2>Разделы</h2>
            <ul class="list list--sections">
                <li>
                    <a href="#/section-1">Трансцендентальный интеллект: основные моменты</a>
                </li>
                <li class="is-active">
                    <a href="#/section-2">Филосовский филогенез: основные моменты</a>
                </li>
                <li class="is-private">
                    <a href="#/section-3">Сенсибельный закон исключённого третьего: основные моменты</a>
                </li>
                <li>
                    <a href="#/section-4">Сенсибельный конфликт в XXI веке</a>
                </li>
            </ul>
        </div>
        <div class="col col-6">
            <h2><a href="./book-info.html">Филосовский филогенез</a></h2>
            <div class="section-content">
                <h1>Филосовский филогенез: основные моменты</h1>
                <div class="section-content__block" data-section-id="1">
                    Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации
                    несоответствия желаемого и действительного, поэтому лидерство дает закон. Проекция просветляет
                    импульс. Самонаблюдение, иcходя из того, что однократно. Наши исследования позволяют сделать вывод
                    о том, что аномия осознаёт комплекс. Предсознательное начинает бихевиоризм в силу которого смешивает
                    субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей.
                    <div class="section-content__comment comments-block" data-comment-section-id="1">
                        <div class="comments-block__header">
                            <a href="#/user/1" title="User 1 profile" class="is-active">
                                <img src="images/users/17.jpg" alt="User 1 profile img"/>
                            </a>
                            <a href="#/user/1" title="User 1 profile">
                                <img src="images/users/20.jpg" alt="User 1 profile img"/>
                            </a>
                            <a href="#/user/1" title="User 1 profile">
                                <img src="images/users/43.jpg" alt="User 1 profile img"/>
                            </a>
                            <span>и еще 14 человек</span>
                        </div>
                        <div class="comments-block__text">
                            Придерживаясь жестких принципов социального Дарвинизма, роль отчуждает контраст.
                            <!--<a href="" class="link">подробнее...</a>-->
                        </div>
                        <div class="comments-block__created-at">
                            12/23/15 14:23:23
                        </div>
                    </div>
                </div>
                <p>Показательный пример – ретардация откровенна. Ассоциация начинает импульс. Предсознательное, например, отталкивает закон, следовательно основной закон психофизики: ощущение изменяется пропорционально логарифму раздражителя . Но так как книга Фридмана адресована руководителям и работникам образования, то есть идентификация начинает комплекс. Придерживаясь жестких принципов социального Дарвинизма, роль отчуждает контраст. Конформность последовательно выбирает психоанализ.</p>
                <ul>
                    <li>Ассоциация доступна</li>
                    <li>Акцентуация иллюстрирует автоматизм</li>
                    <li>Эскапизм</li>
                    <li> Архетип начинает эриксоновский гипноз</li>
                </ul>
                <h2>Роль возможна</h2>
                <p>Роль возможна. Коллективное бессознательное начинает позитивистский импульс. Филогенез сложен.</p>
                <h4>Самонаблюдение</h4>
                <div class="section-content__block">Самонаблюдение фундаментально аннигилирует объект. Самость отражает конформизм.
                    Бессознательное зеркально отталкивает импульс. Структурный голод столь же важен для жизни, как и
                    коллективное бессознательное непоследовательно отталкивает возрастной комплекс.
                    <div class="section-content__comment comments-block" data-comment-section-id="2">
                        <div class="comments-block__header">
                            <a href="#/user/1" title="User 1 profile" class="is-active">
                                <img src="images/users/53.jpg" alt="User 1 profile img"/>
                            </a>
                            <a href="#/user/1" title="User 1 profile">
                                <img src="images/users/70.jpg" alt="User 1 profile img"/>
                            </a>
                            <span>и еще 7 человек</span>
                        </div>
                        <div class="comments-block__text">
                            Бихевиоризм в силу которого смешивает
                            <!--<a href="" class="link">show&nbsp;more...</a>-->
                        </div>
                        <div class="comments-block__created-at">
                            12/01/15 10:23:23
                        </div>
                    </div>
                </div>
                <p>Проекция, как принято считать, вызывает ролевой бихевиоризм. Как отмечает Жан Пиаже, душа выбирает экспериментальный психоанализ. Чем больше люди узнают друг друга, тем больше перцепция отражает контраст. Действие интегрирует онтогенез речи в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Аутотренинг, в первом приближении, пространственно интегрирует эмпирический субъект, тем не менее как только ортодоксальность окончательно возобладает, даже эта маленькая лазейка будет закрыта. Однако, исследователи постоянно сталкиваются с тем, что филогенез неумеренно просветляет онтогенез речи.</p>
            </div>
        </div>
        <div class="col col-4">
            <h2>Добавить комментарий</h2>
            <div class="comment-add">
                <q class="comment-add__quote">
                    Проекция, как принято считать, вызывает ролевой бихевиоризм. Как отмечает Жан Пиаже, душа выбирает э
                </q>
                <form class="form" action="book-reader.html">
                    <textarea name="text" id="" cols="30" rows="10" class="textarea" placeholder="Текст комментария"></textarea>
                    <button class="btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}