{% extends 'layout.html' %}
{% block body %}
<div class="row row--full-height">
    <div class="col col-2 col--menu">
        <h4><a href="#/favorites">Favorites</a></h4>
        <ul class="list">
            <li><a href="#/user" class="is-online">Анатолий Вассерман</a></li>
            <li><a href="#/user">Борис Акунин</a></li>
        </ul>
        <h4>My books</h4>
        <ul class="list">
            <li><a href="#/book">First 100 Words</a></li>
            <li><a href="#/book">Diary of a Wimpy Kid #10: Old School</a></li>
            <li><a href="#/book">Laugh-Out-Loud Jokes for Kids</a></li>
            <li><a href="#/book">Secret Garden: An Inky Treasure Hunt...</a></li>
        </ul>
    </div>
    <div class="col col-7">
        <div class="feeds">
            <div class="feeds__item">
                <div class="add-post">
                    <div class="add-post__wrap">
                        <div class="add-post__user">
                            <div class="avatar">
                                <img src="images/users/43.jpg" alt="">
                            </div>
                        </div>
                        <div class="add-post__input">
                            <textarea placeholder="What are you thinking about?"></textarea>
                        </div>
                    </div>
                    <div class="add-post__controls">
                        <button class="btn btn_primary">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="feeds__item">
                {% include "./partitial/feed.html" %}
            </div>
            <div class="feeds__item">
                {% include "./partitial/feed--comments.html" %}
            </div>
            <div class="feeds__item">
                {% include "./partitial/feed--book.html" %}
            </div>
            <div class="feeds__item">
                {% include "./partitial/feed--comments-collapsed.html" %}
            </div>
            <div class="feeds__item">
                {% include "./partitial/feed.html" %}
            </div>
        </div>
    </div>
    <div class="col col-3">
        <!--<h2>Новое для вас</h2>-->
        <!--{% include "./partitial/books.html" %}-->
    </div>
</div>
{% endblock %}