<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Writer.io - open book write tool</title>
    <!--<link rel="stylesheet" href="bower_components/normalize-css/normalize.css"/>-->
    <!--<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">-->
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div class="wrap">
	<div class="wrap__content">
	    {% include "./partitial/header.html" %}
        <main class="main">
            <div class="container">
	            {% block body %}{% endblock %}
            </div>
        </main>
    </div>
    <div class="wrap__footer">
        {% include "./partitial/footer.html" %}
    </div>
</div>
</body>
</html>