{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col col-12">
        <h2>Популярные авторы</h2>
        <div class="list list--scroll">
            <div class="list__item">
                {% include "partitial/book--small.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/book--small.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/book--small.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/book--small.html" %}
            </div>
        </div>

        <p>По количеству читателей</p>
        <h2>Сейчас на сайте</h2>
        <h2>Новинки недели</h2>
        <h2>Популярные книги</h2>
    </div>
    <div class="col col-12">
        <h2>Новые книги</h2>
        {% include "partitial/books.html" %}
    </div>
    <div class="col col-12">
        <h2>Пользователи рекомендуют</h2>
        {% include "partitial/books.html" %}
    </div>
</div>

{% endblock %}