{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col col-8">
        <div class="profile-header">
            <div class="avatar avatar--big profile-header__image">
                <img src="images/users/43.jpg" alt="">
            </div>
            <div class="profile-header__content">
                <h2>Виктор Пелевин</h2>
                <div>
                    <ul class="list list--inline">
                        <li>16 подписчиков</li>
                        <li>76 подписок</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-8">
        <h2>Ваши подписчики</h2>
        <div class="list list--blocks list--50">
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
            <div class="list__item">
                {% include "partitial/profile-header--medium.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}