<div class="book">
    <div class="book__info">
        <div class="book__poster">
            <img src="images/placeholder.png" alt=""/>
        </div>
        <h1>Самонаблюдение, иcходя из того, что однократно.
            <span class="badge">в процессе</span>
        </h1>
        <h3>Д.Майерс. 2015</h3>
        <p>Предсознательное, например, отталкивает закон, следовательно основной закон психофизики: ощущение изменяется пропорционально логарифму раздражителя . Но так как книга Фридмана адресована руководителям и работникам образования, то есть идентификация начинает комплекс. </p>
        <div class="btns-group">
            <a href="book-reader.html" class="btn">Читать</a>
            <button class="btn btn_primary">Купить подписку</button>
            <span>&nbsp;&nbsp;234 уже купили</span>
        </div>
    </div>
    <h2>Содержание</h2>
    <div class="book__sections">
        <ol class="list">
            <li>
                <a href="book-reader.html">Трансцендентальный интеллект: основные моменты</a>
            </li>
            <li>
                <a href="book-reader.html">Филосовский филогенез: основные моменты</a>
            </li>
            <li>
                <a href="book-reader.html">Сенсибельный закон исключённого третьего: основные моменты</a>
            </li>
            <li>
                <a href="book-reader.html">Сенсибельный конфликт в XXI веке</a>
            </li>
            <li class="is-progress">В работе (80%)</li>
            <li class="is-progress">В работе (10%)</li>
            <li>
                <a href="book-reader.html">Проекция как ролевой бихевиоризм</a>
            </li>
        </ol>
    </div>
    <h3>Другие книги автора (<a href="#/author/1">Д.Майерс</a>)</h3>
    {% include "./books.html" %}
    <h3>Читатели также выбирают</h3>
    {% include "./books.html" %}
</div>