<div class="list list--blocks">
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
    <div class="list__item">
        {% include "comments-block.html" %}
    </div>
</div>