

@import lib/normalize
@import lib/mixins

@import variables
@import helpers
@import base

@import components/link

// Atom

@import components/input
@import components/textarea
@import components/btn
@import components/avatar
@import components/badge
@import components/tooltip

// Molecules
@import components/list
@import components/logo
@import components/book

// Modificator

@import components/is-online

// Other
@import components/feed

@import components/wrap
@import components/header

@import components/grid

@import components/comments-block
@import components/section-content

@import components/add-post

@import components/reader-header

@import components/input-wrap


// TODO: replace with single form component
@import components/search-form
@import components/comments-form

@import components/book-info
@import components/profile-header

.block
  //margin: 20px 0
  padding-top: 20px
  font-size: $text-size
  
.progress
  display: inline-block
  width: 100%

  background-color: $border-color

  overflow: hidden
  border-radius: 2px
  height: 2px
  .progress__in
    background-color: $primary
    height: 2px